*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --background: #000430;
    --secondaryBackground: #171c48;
    --text: #fff;
    --purple: #828dff;
    --teal: #24feee;
}



body{
    background-color: var(--background);
    color: var(--text);
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 120px;
    margin: 120px auto 0 auto;
    max-width: 500px;
}

.stats-container{
    padding: 30px;
    border-radius: 20px;
    border: 2px solid var(--purple);
    display: flex;
    gap: 50px;
    max-width: 600px;
    justify-content: space-between;
    width:100%;
}

.details{
    width: 100%;

}
#progressBar{
    width: 100%;
    height: 10px;
    background-color: var(--purple);
    border-radius: 5px;
    margin-top: 120px;

}
#progress{
    width: 80%;
    height: 100%;
    background-color: var(--teal);
    border-radius: 10px;
    transition: all 0.3s ease;
}
#numbers{
    width: 120px;
    height: 120px;
    background-color: var(--purple);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 30px;
    font-weight: bold;

}

form{
    margin-top: 60px;
    width: 100%;
    display: flex;

    gap: 10px;
}
input{
    flex:1;
    padding: 10px;
    background: var(--secondaryBackground);
    border: 1px solid var(--purple);
    border-radius: 10px;
    outline: none;
    color: var(--text);
}

button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display:flex;
    align-items:center;
    justify-content: center;
    background-color: var(--purple);
    color: var(--text);
    font-size: 30px;
    outline: none;
    font-weight:bold;
}

#task-list{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 30px;;
    width: 100%;
    list-style: none;
}

.taskItem{
    display: flex;
    background-color: var(--secondaryBackground);
    padding: 10px;
    border-radius: 10px;
    justify-content: space-between;

}
.task{
    display:flex;
    align-items: center;
    gap: 10px;
}
.task input{
    width: 20px ;
    height: 20px;

}

.taskItem img{
    width: 24px;
    height: 24px;
    margin: 0 10px;

}
.taskItem{
    width: 24px;
    height: 24px;

}