*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --background: #000430;
    --secondaryBackground: #171c48;
    --text: #fff;
    --purple: #828dff;
    --teal: #24feee;
}



body{
    background-color: var(--background);
    color: var(--text);
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 120px;
    
}

.stats-container{
    padding: 20px;
    border-radius: 20px;
    border: 2px solid var(--purple);
    display: flex;
    gap: 10px;
}

#numbers{
    width: 100px;
    height: 100px;
    background-color: var(--purple);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 230px;
    font-weight: bold;

}